$base : rgba(239, 91, 52,1);
$base2 : rgba(255,158,133,1);
$base3 : rgba(255,126, 91,1);
$base4 : rgba(207, 56, 16,1);
$base5 : rgba(163, 36,  2,1);



/*
.color-primary-0 { color: #EF5B34 }
.color-primary-1 { color: #FF9E85 }
.color-primary-2 { color: #FF7E5B }
.color-primary-3 { color: #CF3810 }
.color-primary-4 { color: #A32402 }

.rgba-primary-0 { color: rgba(239, 91, 52,1) }
.rgba-primary-1 { color: rgba(255,158,133,1) }
.rgba-primary-2 { color: rgba(255,126, 91,1) }
.rgba-primary-3 { color: rgba(207, 56, 16,1) }
.rgba-primary-4 { color: rgba(163, 36,  2,1) }

*/
